body {
    font-family: 'Cinzel', serif;
    align-content: center;
    padding-top: 100px;
}

.navbar-inverse {
    font-weight: bold;
}

#navbar {
    background: #5795f9;
}

#navbar-content {
    color: white;
}

.hireMe {
    font-family: 'Oleo Script', cursive;
    font-size: 1.5em;
}

.jumbotron {
    background: #ecf0f1;
    height: 100%;
}

#section-title {
    text-align: center;
    text-decoration: underline;
    margin: 50px 0;
}

#about {
    height: auto;
    padding-bottom: 100px;
}

#services {
    height: auto;
    padding-bottom: 100px;
}

#profile-pic {
    width: 15%;
    padding: 5px;
    border: 1px solid #5795f9;
    float: left;
    margin-right: 25px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: 'EB Garamond', serif;
}









    





